Pillow==6.2.0
boto3==1.9.234
botocore==1.12.234
flake8==3.7.9
h5py==2.10.0
joblib==0.13.2
nltk==3.4.5
numpy==1.17.4
pexpect==4.7.0
py-gfm==0.1.4
pyzmq==18.1.0
regex==2019.8.19
requests==2.22.0
scikit-learn==0.21.3
scipy==1.4.1
sh==1.12.14
sphinx
sphinx-rtd-theme==0.4.3
tqdm==4.36.1
websocket-client==0.57.0
websocket-server==0.4
